.analysis-card {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  border-radius: 8px;
  background-color: white;
  gap: 20px;
}

.analysis-card-title {
  font-size: 18px;
  font-weight: bold;
}

.analysis-content {
  display: flex;
  /* gap: 110px; */
  padding-inline: 80px;
  justify-content: space-between;
}

.analysis-section,
.achievement-section {
  flex: 1;
}

.analysis-section h3,
.achievement-section h3 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #666;
}

.analysis-section div,
.achievement-section div {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}

.analysis-content-card {
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid #bbc0fc;
  width: 277px;
  cursor: pointer;
  /* font-size: 25px; */
}
.analysis-content-card:hover,
.analysis-content-card.selected {
  background-color: #bbc0fc;
}
.analysis-content-card h3 {
  font-size: 23px;
}

.achievement-status {
  display: flex;
  width: 85%;
  padding: 10px;
  border-radius: 20px;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 23px;
}

.tem-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
