.sidebar {
  width: 243px;
  height: 100vh;
  background-color: #ffffff;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.07);
  align-items: center;
}

.menu-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  width: 243px;
  background-color: #ffffff;
}

.menu-top {
  margin-top: 20px;
}

.menu-cen {
  margin-top: 10px;
}

.menu-bottom {
  margin-top: auto;
}

.menu-item {
  display: flex;
  align-items: center;
  padding-inline-start: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  cursor: pointer;
  text-decoration: none;
  color: #222222;
  background-color: #ffffff;
  font-weight: 500;
  height: 40px;
  font-size: 15px;
}

.menu-item:hover {
  background-color: #d33a3a;
  text-decoration: none;
}

/* 활성화된 메뉴의 배경색과 텍스트 스타일 */
.menu-item.active {
  background-color: #eeeff3;
  color: #222222;
}

.divider {
  margin: 0px 0;
  border: none;
  height: 1px;
  background-color: #aeaeae;
  width: 100%;
}

.menu-icon {
  margin-right: 10px;
}

.icon-box {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 10px;
}
.sub-icon {
  width: 13px;
}
