.sidebar {
  width: 243px;
  height: 100vh;
  background-color: #ffffff;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-top: 30px;
  width: 243px;
  background-color: #ffffff;
}

.menu-item {
  display: flex;
  align-items: center;
  padding-inline-start: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  cursor: pointer;
  text-decoration: none;
  color: #222222;
  background-color: #ffffff;
  font-weight: 600;
  height: 40px;
}

.menu-item:hover {
  background-color: #d33a3a;
  text-decoration: none;
}

/* 활성화된 메뉴의 배경색과 텍스트 스타일 */
.menu-item.active {
  background-color: #eeeff3;
  color: #222222;
}

.divider {
  margin: 10px 5px;
  border: none;
  border-top: 1px solid #d9d9d9;
}

.menu-icon {
  margin-right: 10px;
}

.icon-box {
  display: flex;
  align-items: center;
  margin-left: 40px;
  gap: 10px;
}
.sub-icon {
  width: 16px;
}
